# Ignore environment and package management files
env/
venv/
__pycache__/
*.pyc
*.pyo
.Python
.DS_Store

# local env files
.env*.local
.env

# Ignore log files
*.log

# Ignore large data files (if any)
data/
*.csv
*.pkl

# Ignore large Python libraries or packages you don’t want to push
heavy_file.py  # Add specific heavy files here

# Ignore IDE-specific files
.idea/
.vscode/
